In [2]:
import streamlit as st
import pandas as pd
import numpy as np
import fitz  # PyMuPDF
import tabula
from tabula import read_pdf
from constraint import Problem
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image, ImageDraw, ImageFont
from streamlit_js_eval import streamlit_js_eval

In [3]:
def remove_header(df):
    header_row_index = df[df.iloc[:, 0] == 'COM COD'].index[0]
    df = df.drop(index=df.index[:header_row_index]).reset_index(drop=True)
    df.columns = df.iloc[0]
    df = df.drop(index=0).reset_index(drop=True)
    
    return df

In [81]:
tables = read_pdf('/Users/bristi/Downloads/Timetable First Semester 2024-25.pdf', pages='all', multiple_tables=True)
if tables:
    # Process the first table normally
    df = remove_header(tables[0])
    column_names = df.columns
    
    for i in range(1, 10):
        temp_df = tables[i]
        header_row = pd.DataFrame([temp_df.columns], columns=column_names)
        temp_df.columns = column_names
        temp_df_with_header = pd.concat([header_row, temp_df], ignore_index=True)
        df = pd.concat([df, temp_df_with_header], ignore_index=True)

In [83]:
def forward_fill_course_details(df):
    df['COURSE TITLE'].fillna(method='ffill', inplace=True)
    df['COURSE NO.'].fillna(method='ffill', inplace=True)
    df['CREDIT\rL P U'].fillna(method='ffill', inplace=True)
    return df

In [84]:
df = forward_fill_course_details(df)

disp_elec = df[
            (
                (df['COURSE NO.'].str.startswith('CS') | df['COURSE NO.'].str.startswith('MATH') | 
                df['COURSE NO.'].isin(['BITS F312', 'BITS F416', 'BITS F452', 'BITS F464']))
            )
        ]

In [85]:
df[df['COURSE NO.'] == 'ME F217']

Empty DataFrame
Columns: [COM COD, COURSE NO., COURSE TITLE, CREDIT
L P U, SEC, INSTRUCTOR-IN-CHARGE/ Instructor, ROOM, DAYS/ HOURS, MIDSEM TEST, COMRE DATE &
SESSION]
Index: []

In [36]:
df.iloc[179:190]

,COM COD,COURSE NO.,COURSE TITLE,CREDIT\rL P U,SEC,INSTRUCTOR-IN-CHARGE/ Instructor,ROOM,DAYS/ HOURS,MIDSEM TEST,COMRE DATE &\rSESSION
179,NaN,CS F215,Practical,3 1 4,8.0,Ananth Bharadwaj M,304.0,Th89,NaN,NaN
180,NaN,CS F215,Practical,3 1 4,9.0,Nilesh Goel,304.0,F34,NaN,NaN
181,1091.0,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,1.0,A SOMASUNDARAM,267.0,T4 W3 Th6 F5,25.10.2024 FN,09.01.2025 AN
182,NaN,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,2.0,Shanookha Ali,268.0,T4 W9 Th6 F4,NaN,NaN
183,NaN,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,3.0,A Somasundaram,269.0,M4 T9 W5 F2,NaN,NaN
184,NaN,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,4.0,Shanookha Ali,257.0,M4 T9 W5 F2,NaN,NaN
185,1316.0,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,NaN,B VIJAYAKUMAR,NaN,NaN,23.10.2024 AN,02.01.2025 AN
186,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,1.0,N M Dhanya,210.0,W5 F2,NaN,NaN
187,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,2.0,B Vijayakumar,222.0,W5 Th4,NaN,NaN
188,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,3.0,N M Dhanya,226.0,M7 W7,NaN,NaN
189,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,4.0,B Vijayakumar,229.0,W3 F3,NaN,NaN

In [31]:
disp_elec[disp_elec['COURSE NO.'] == 'CS F320']

Empty DataFrame
Columns: [COM COD, COURSE NO., COURSE TITLE, CREDIT
L P U, SEC, INSTRUCTOR-IN-CHARGE/ Instructor, ROOM, DAYS/ HOURS, MIDSEM TEST, COMRE DATE &
SESSION]
Index: []