In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import fitz  # PyMuPDF
import tabula
from tabula import read_pdf
from constraint import Problem
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image, ImageDraw, ImageFont
from streamlit_js_eval import streamlit_js_eval

In [2]:
def remove_header(df):
    header_row_index = df[df.iloc[:, 0] == 'COM COD'].index[0]
    df = df.drop(index=df.index[:header_row_index]).reset_index(drop=True)
    df.columns = df.iloc[0]
    df = df.drop(index=0).reset_index(drop=True)
    
    return df

In [3]:
tables = read_pdf('/Users/bristi/Downloads/Timetable First Semester 2024-25.pdf', pages='all', multiple_tables=True)
if tables:
    # Process the first table normally
    df = remove_header(tables[0])
    column_names = df.columns
    
    for i in range(1, 10):
        temp_df = tables[i]
        header_row = pd.DataFrame([temp_df.columns], columns=column_names)
        temp_df.columns = column_names
        temp_df_with_header = pd.concat([header_row, temp_df], ignore_index=True)
        df = pd.concat([df, temp_df_with_header], ignore_index=True)

In [8]:
headerList = df.columns
headerList

Index(['COM COD', 'COURSE NO.', 'COURSE TITLE', 'CREDIT\rL P U', 'SEC',
       'INSTRUCTOR-IN-CHARGE/ Instructor', 'ROOM', 'DAYS/ HOURS',
       'MIDSEM TEST', 'COMRE DATE &\rSESSION'],
      dtype='object', name=0)

In [19]:
index = -1
for i in range(0, headerList.size, 1):
    indexOfPresence = headerList[i].lower().find('days')
    if (indexOfPresence != -1):
        index = i
        break

headerList[index]

'DAYS/ HOURS'

In [33]:
headerList = df.columns
COM_COD = ""
COURSE_NO = ""
COURSE_TITLE = ""
CREDIT = ""
SEC = ""
INSTRUCTOR = ""
ROOM = ""
DAYS_HOURS = "" 

for i in range(0, headerList.size, 1):
    if (headerList[i].lower().find('cod') != -1):
        COM_COD = headerList[i]
    elif (headerList[i].lower().find('no.') != -1):
        COURSE_NO = headerList[i]
    elif (headerList[i].lower().find('title') != -1):
        COURSE_TITLE = headerList[i]
    elif (headerList[i].lower().find('credit') != -1):
        CREDIT = headerList[i]
    elif (headerList[i].lower().find('sec') != -1):
        SEC = headerList[i]
    elif (headerList[i].lower().find('instructor') != -1):
        INSTRUCTOR = headerList[i]
    elif (headerList[i].lower().find('room') != -1):
        ROOM = headerList[i]
    elif (headerList[i].lower().find('days') != -1):
        DAYS_HOURS = headerList[i]   
        
DAYS_HOURS

'DAYS/ HOURS'

In [34]:
df[CREDIT].fillna(method='ffill', inplace=True)
df[COURSE_NO].fillna(method='ffill', inplace=True)
df[COURSE_TITLE].fillna(method='ffill', inplace=True)
filtered_df = df[df['COURSE NO.'].str.contains("CS")]
filtered_df

,COM COD,COURSE NO.,COURSE TITLE,CREDIT\rL P U,SEC,INSTRUCTOR-IN-CHARGE/ Instructor,ROOM,DAYS/ HOURS,MIDSEM TEST,COMRE DATE &\rSESSION
116,1008.0,CS F111,COMPUTER PROGRAMMING,3 1 4,1.0,TOJO MATHEW,101.0,M6 T2 W2 Th1,24.10.2024 FN,06.01.2025 FN
117,NaN,CS F111,COMPUTER PROGRAMMING,3 1 4,2.0,Sapna Sadhwani,105.0,M6 T1 W8 F3,NaN,NaN
118,NaN,CS F111,COMPUTER PROGRAMMING,3 1 4,3.0,Shalaka S. Mahadik,123.0,T4 W2 Th1 F4,NaN,NaN
119,NaN,CS F111,COMPUTER PROGRAMMING,3 1 4,4.0,Shalaka S. Mahadik,165.0,M6 T8 W5 Th5,NaN,NaN
120,NaN,CS F111,COMPUTER PROGRAMMING,3 1 4,5.0,Shalaka S. Mahadik,183.0,M1 T5 W9 Th9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
183,1333.0,CS F407,ARTIFICIAL INTELLIGENCE,3 0 3,1,SUJALA D SHETTY,210.0,M4 T6 Th6,22.10.2024 AN,08.01.2025 AN
184,1322.0,CS F415,DATA MINING,3 0 3,1,ANGEL A JOTHI,229.0,M5 T1 W6,21.10.2024 FN,31.12.2024 AN
185,2440.0,CS F425,DEEP LEARNING,3 0 3,1,TAMIZHARASAN PERIYASAMY,229.0,M4 T6 Th6,22.10.2024 AN,08.01.2025 AN
186,2444.0,CS F429,NATURAL LANGUAGE PROCESSING,3 0 3,1,ELAKKIYA RAJASEKAR,210.0,M5 T1 W6,21.10.2024 FN,31.12.2024 AN
187,1714.0,CS F491,SPECIAL PROJECT,3,1,SUJALA D SHETTY,NaN,NaN,NaN,NaN

In [83]:
def forward_fill_course_details(df):
    df['COURSE TITLE'].fillna(method='ffill', inplace=True)
    df['COURSE NO.'].fillna(method='ffill', inplace=True)
    df['CREDIT\rL P U'].fillna(method='ffill', inplace=True)
    return df

In [84]:
df = forward_fill_course_details(df)

disp_elec = df[
            (
                (df['COURSE NO.'].str.startswith('CS') | df['COURSE NO.'].str.startswith('MATH') | 
                df['COURSE NO.'].isin(['BITS F312', 'BITS F416', 'BITS F452', 'BITS F464']))
            )
        ]

In [85]:
df[df['COURSE NO.'] == 'ME F217']

Empty DataFrame
Columns: [COM COD, COURSE NO., COURSE TITLE, CREDIT
L P U, SEC, INSTRUCTOR-IN-CHARGE/ Instructor, ROOM, DAYS/ HOURS, MIDSEM TEST, COMRE DATE &
SESSION]
Index: []

In [36]:
df.iloc[179:190]

,COM COD,COURSE NO.,COURSE TITLE,CREDIT\rL P U,SEC,INSTRUCTOR-IN-CHARGE/ Instructor,ROOM,DAYS/ HOURS,MIDSEM TEST,COMRE DATE &\rSESSION
179,NaN,CS F215,Practical,3 1 4,8.0,Ananth Bharadwaj M,304.0,Th89,NaN,NaN
180,NaN,CS F215,Practical,3 1 4,9.0,Nilesh Goel,304.0,F34,NaN,NaN
181,1091.0,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,1.0,A SOMASUNDARAM,267.0,T4 W3 Th6 F5,25.10.2024 FN,09.01.2025 AN
182,NaN,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,2.0,Shanookha Ali,268.0,T4 W9 Th6 F4,NaN,NaN
183,NaN,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,3.0,A Somasundaram,269.0,M4 T9 W5 F2,NaN,NaN
184,NaN,CS F222,DISCR STRUC FOR COMP SCI,3 0 3,4.0,Shanookha Ali,257.0,M4 T9 W5 F2,NaN,NaN
185,1316.0,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,NaN,B VIJAYAKUMAR,NaN,NaN,23.10.2024 AN,02.01.2025 AN
186,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,1.0,N M Dhanya,210.0,W5 F2,NaN,NaN
187,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,2.0,B Vijayakumar,222.0,W5 Th4,NaN,NaN
188,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,3.0,N M Dhanya,226.0,M7 W7,NaN,NaN
189,NaN,CS F301,PRINCIPLES OF PROGG LANG,2 0 2,4.0,B Vijayakumar,229.0,W3 F3,NaN,NaN

In [31]:
disp_elec[disp_elec['COURSE NO.'] == 'CS F320']

Empty DataFrame
Columns: [COM COD, COURSE NO., COURSE TITLE, CREDIT
L P U, SEC, INSTRUCTOR-IN-CHARGE/ Instructor, ROOM, DAYS/ HOURS, MIDSEM TEST, COMRE DATE &
SESSION]
Index: []